@use "scss/_common";
@use "scss/_rows";
@use "scss/_columns";
@use "scss/_masonry";

.settings {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-block-end: 16px;
  }
  
  main > p, .loading, .finished, .error {
    text-align: center;
  }
  
  .error {
    color: red;
  }